@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(241, 57, 57);
}
.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart {
  width: 20px;
  height: 20px;
  background-color: rgb(247, 6, 6);
  position: absolute;
  transform: rotate(45deg);
}
.heart::before {
  content: "";
  top: 0;
  left: 0;
  background-color: rgb(247, 6, 6);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  transform: translate(-50%, 0);
}
.heart::after {
  content: "";
  top: 0;
  left: 0;
  background-color: rgb(247, 6, 6);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1000;
  position: absolute;
  transform: translate(0, -50%);
}
.mainContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: rgb(230, 95, 95);
  font-family: "Parisienne", cursive;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    z-index: 1;
    font-size: 60px;
  }
  50% {
    z-index: 1;
    font-size: 80px;
  }
  100%{
    z-index: 1;
    font-size: 60px;
  }
}



/* warpper */
.wrapper {
  position: absolute;
  top: calc(50% - 100px);
  left:calc(50% - 100px);
  width: 200px;
  height: 200px;
  background-color: transparent;
  /* background-color: rgb(184, 70, 70); */
}
.box-area{
  animation : boxAnimation 12s linear infinite;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
}
.box-area div{
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
}
.box-area .box1{
  background-image: url(./media/1.jpg);
  background-position:center;
  background-size:cover;
  -webkit-background-size:cover;
  transform:translateZ(100px);
}
.box-area .box2{
  background-image: url(./media/2.jpg);
  background-position:center;
  background-size:cover;
  -webkit-background-size:cover;
  transform: rotateY(90deg) translateZ(100px);
}
.box-area .box3{
  background-image: url(./media/3.jpg);
  background-position:center;
  background-size:cover;
  -webkit-background-size:cover;
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}
.box-area .box4{
  background-image: url(./media/4.jpg);
  background-position:center;
  background-size:cover;
  -webkit-background-size:cover;
  transform:rotateY(180deg) rotateZ(90deg) translateZ(100px) ;
}
.box-area .box5{
  background-image: url(./media/5.jpg);
  background-position:center;
  background-size:cover;
  -webkit-background-size:cover;
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.box-area .box6{
  background-image: url(./media/6.jpg);
  background-position:center;
  background-size:cover;
  -webkit-background-size:cover;
  transform:rotateX(-90deg) translateZ(100px) ;
}
@keyframes boxAnimation{
  from,to {
   transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16%{
    transform: rotateY(-90deg);
  }
  33%{
    transform: rotateY(-90deg) rotateZ(90deg) translateX(100px);
  }
  50%{
    transform: rotateY(-180deg) rotateZ(90deg) translateX(100px) translateY(-100px);
  }
  67%{
    transform: rotateY(-270deg) rotateX(90deg) translateX(100px)  translateY(-100px) translateZ(-100px);
  }
  83%{
    transform: rotateX(90deg)  translateY(-100px) translateZ(-100px); /*translateX(-100px) */
  }
}